img{
    display: block;
}
li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.tou{
    width: 100%;
    height: 79px;
}
.tou img{
    width: 100%;
    height: 79px;
}
.nav{
    width: 100%;
    height: 36px;
    background-color: #444;
    color: #ccc;
    font-size: 12px;
   
}
.nav1{
    height: 36px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav1 ul{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1 ul li{
    padding: 0 15px;
}
.nav1>ul>li>span{
    font-size: red;
    font-size: 20px;
} 
.nav1 ul li .hide{
    color: red;
}
.nav1 ul li a{
    color: white;
    text-decoration: none;
}
.nav1 ul li a:hover{
    color: #049FA2;
    text-decoration: none;
}

.eve{
    width: 1200px;
    height: 74px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.eve>p>a>img{
    width: 152px;
    height: 43px;
}
.eve>ul{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}
.eve>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}
.eve>ul>li>a{
    color: black;
    font-size: 17px;
}
.eve>ul>p{
    font-size: 20px;
    margin-top: 8px;
    position: relative;
}

.alive{
    
    left: 50%;
    transform: translateX(-50%);
    top: 190px;
    width: 1200px;
    margin: auto;
    background-color:#F7F7F7;
    height: 288px;
    position: absolute;
    z-index: 99999999;
    padding: 15px;
    box-sizing: border-box;
}
.alive>ul{
    float: left;
    width: 800px;
}
.alive>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 188px;
    height: 44px;
    margin-bottom: 24px;
}

.alive>ul>li>span{
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding-left: 12px;
    line-height: 44px;
    font-size: 16px;
}
.alive>.coss{
    float: right;
    width: 364px;
    height: 268px;
}
.alive>.coss>.coss1{
   
    width: 164px;
    height: 132px;
    float: left;
    margin-top: 4px;
    text-align: center;
    padding: 10px 8px;
    box-sizing: border-box;
    background-color: #fff;
    margin-right: 10px;
}
.alive>.coss>.coss1 img{
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;

}
.alive>.coss>.coss1>div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 20px;
}
.alive>.coss>.coss1>p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    line-height: 1;
    color: red;
}























.eve>ul>p>.box {
    width: 600px;
    height: 60px;
    border: 3px solid skyblue;
    display: flex;
    margin: 30px auto;
    position: relative;
  }

  .k1 {
   
    outline: none;
  }

  .eve>ul>p>.box>button {
    border: none;
    outline: none;
    flex: 1;
    background-color: skyblue;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }

.k3{
    width: 300px;
    background-color: white;
    position: absolute;
    height: 200px;
   right: 30px;
    z-index: 999999;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    display: none;

}




 .k3> li {
    list-style: none;
    width: 170px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
  }

  .eve>ul>p>.box>ul > li:hover {
    background-color: #ccc;
    color: #fff;
  }







.eve ul li a:hover{
    color: #049FA2;
    text-decoration: none;

}
.eve ul li span{
    position: absolute;
    width: 32px;
    height: 16px;
    background-color: red;
    font-size: 12px;
    color: white;
    top: 8px;
    
    text-align: center;
}
.eve ul li:nth-child(2){
    position: relative;
}

.box1{
    
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    
}
.box1>ul>li>img{
    width: 100%;
    height: 500px;
}
.box1>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500%;
    height: 100%;
    position: absolute;
    overflow: hidden;

}
.box1>ul>li{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
    
    

}
.box1>ol{
    width: 200px;
    height: 13px;
    position: absolute;
    bottom: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    left: 10px;

}
.box1>ol li{
    width: 13px;
    border-radius: 15px;
    background-color: rgb(90, 89, 87);
    

}
.box1>ol .cctv{
    background-color: wheat;
}
.box1>.list{
    width: 100%;
    position: absolute;
    height: 60px;
    
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box1>.list p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    background-color: rgba(0,0,0,.5);
    width: 40px;
    height: 60px;
    cursor: pointer;
}
.row0{
    background-color: #F7F7F7;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
}
.row1{
    width: 1200px;
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.row1>.row2{
    width: 288px;
    height: 408px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 8px;
    margin-bottom: 16px;
}

.row2>.top>img{
    height: 272px;
    width: 272px;

}
.row2>.button{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.row2>.button>h4{
    cursor: pointer;

    font-size: 14px;
    font-weight: 700;
    height: 20px;
    color: #1e1e1e;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.row2>.button>p{
    font-size: 12px;
    color: #777;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 0;
    margin: 0;
}
.row2>.button>h2{
    margin-left: 1.5px;
    font-size: 16px;
    color: #cc0010;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    margin: 0;
}
.row2>.button>div{
    margin-top: 6px;
    background-color: #d9161c;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.row2>.button>div>a{
    color: #fff;
}
.row2>.button>div>a:hover{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.foot{
    margin: auto;
    width: 1200px;
    height: 106px;
    margin-bottom: 30px;
}
.foot>ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.foot>ul>li{
    border: 2px solid #F7F7F7;
    height: 1px;
}
.foot >ul>li>img{
    width: 100%;
}
.zoom{
    width: 1200px;
    margin: auto;
    height: 254px;
    display: flex;
}
.zoom>.zoom1>ul{
    width: 160px;
    
}
.zoom>.zoom1>ul>p{
    font-size: 16px;
    color: #262626;
    margin-bottom: 20px;
}
.zoom>.zoom1>ul>li{
    width: 160px;
    font-size: 12px;
    line-height: 1;
    margin-top: 10px;
}
.zoom>.zoom1>ul>li>a{
    color: #777777;
}
.zoom>.zoom1>ul>li>a:hover{
    color: #009EA1;
    text-decoration: none;
}
.zoom>.sao{
    width: 228px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.zoom>.sao>h1{
    padding: 0;
    margin: 0;
    font-size: 27px;
    color: #009EA1;
    margin-top: -55px;

}
.zoom>.sao>img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.evey{
    width: 100%;
    height: 54px;
    background-color: #3F3F3F;
}
    .evey>.evey1{
    width: 1200px;
    height: 54px;
    margin: auto;
   
}
.evey1>.imgs>img{
    float: left;
    width: 140px;
    height: 51px;
    margin-right: 10px;
    margin-top: 2px;
    
}
.evey1>.imgs{
    line-height: 1;
    color: #777777;
    overflow: hidden;
    width: 600px;
    float: left;
}
.evey1>.imgs>p:nth-of-type(1){
    margin-top: 10px;
    margin-bottom: 3px;
}
.evey1>.imgs>p:nth-child(2){
    margin-top: -10px;
}
evey1>.imgs>p>a{
    color: #777777;
}
evey1>.imgs>p>a:hover{
    color: #009EA1;
}
.fon{
    float: right;
    color: #777777;
    
}
.fon>p:nth-of-type(1){
    text-indent: 22em;
    margin-top: 10px;
    margin-bottom: -3px;

}
.fon>p:nth-of-type(2){
    text-indent: 4em;
    
    

}
.zoom>filterinfo li{
    height: 20px;
}
.find{
    cursor: pointer;
    width: 64px;
    height: 256px;
    position: fixed;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999999999999;
    background-color: white;
    
}
.find>ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.find>ul>li:nth-child(2)>a>p>span{
    color: red;
}
.find>ul>li:nth-child(2)>a>p{
    margin-top: 10px;
}
.find>ul>li:nth-child(2){
    font-size: 12px;
}
.find>ul>li{
    width: 100%;
    color: #646464;
    flex: 1;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.find>ul>li:nth-child(4){
    border: 0;
}
.find>ul>li>p{
    margin-top: 5px;
}

.content, .info {
    margin-top: 30px;
  }

  .pp{
    
        display: flex;
        justify-content: center;
        align-items: center;
  }
  .filterinfo li {
    width: 100%;
    height: 80px;
    display: flex;
  }
  
  .filterinfo li > .left {
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  
  .filterinfo li > .right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
  }
  
  .filterinfo li > .right > span {
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 3px;
    cursor: pointer;
  }
  
  .filterinfo li > .right > span.active,
  .filterinfo li > .right > span:hover {
    background-color:red;
    color:white;
  }
  
  .goodsList > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
   .goodsList  li {
    box-sizing: border-box;
    float: left;
    width: 23%;
  }
  
   .goodsList  li h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  
   .goodsList > li .price {
    font-size: 20pxs;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination a {
    padding: 0 5px;
    border: 1px solid #333;
    margin: 0 5px;
  }

  











